.image {
  height: 200px;
  float: left;
}

.title {
  font-size:23px;
  overflow:hidden;
  text-align:right;
}

.bottom-container {
  padding-left:4%;
  padding-right:4%;
  margin-bottom:8px;
}

.price {
  font-size:22px;
  color:green;
  text-align:right;
}

.promo {
  margin-top:20px;
  font-size:35px;
  color:green;
  text-align:center;
  width:100%;
}

.description {
  clear:both;
  padding-top:20px;
  padding-bottom:10px;
  text-align:justify;
  font-size:20px;
}

@media only screen and (max-width:500px) {
  .image {
    height:100px;
  }
  
  .title {
    font-size:20px;
  }
  
  .price {
    font-size:19px;
  }
  
  .promo {
    font-size: 30px;
  }
  
  .description {
    font-size:15px;
  }
}