.image {
  height: 200px;
  float: left;
}

.title {
  height:50px;
  font-size:20px;
  overflow:hidden;
  text-align:right;
}

.bottom-container {
  padding-left:30px;
  padding-right:30px;
}

.price {
  height:50px;
  font-size:20px;
  color:green;
  text-align:right;
}

.promo {
  margin-top:20px;
  font-size:40px;
  color:green;
  text-align:center;
  width:100%;
}

.description {
  clear:both;
  padding-top:10px;
  padding-bottom:10px;
  text-align:justify;
}