.overall-container {
  margin-top:20px;
}

.deal-container {
  width:33%;
  height:200px;
  display:inline-block;
  margin-bottom:20px;
  position:relative;
}

.title {
  position:absolute;
  left:20px;
  right:20px;
  top:30px;
  height:50px;
  font-size:15px;
  text-align:center;
  overflow:hidden;
}

.deal {
  position:absolute;
  left:8px;
  right:8px;
  height:30px;
  font-size:20px;
  text-align:center;
  color:green;
}

.image {
  margin-top:80px;
  height:120px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}

@media only screen and (max-width:800px) {
  .deal-container {
    width:50%;
  }
}

@media only screen and (max-width:500px) {
  .deal-container {
    width:100%;
  }
}