.deal-container {
  width:33%;
  height:200px;
  display:inline-block;
  margin-bottom:20px;
}

.title {
  width:100%;
  height:40px;
  font-size:15px;
  text-align:center;
  overflow:hidden;
}

.deal {
  width:100%;
  height:20px;
  font-size:20px;
  text-align:center;
  color:green;
}

.image {
  height:140px;
  margin-left:auto;
  margin-right:auto;
  display:block;
}