.image {
  height: 100px;
  float: left;
}

.title {
  height:50px;
  font-size:20px;
  overflow:hidden;
  text-align:right;
}

.price {
  height:50px;
  font-size:20px;
  color:green;
  text-align:right;
}

.promo {
  margin-top:10px;
  font-size:20px;
  color:green;
  text-align:justify;
}

.description {
  clear:both;
  margin-top:10px;
  text-align:justify;
}