.image {
  height: 100px;
  float: left;
}

.title {
  height:70px;
  font-size:20px;
  overflow:hidden;
  text-align:right;
}

.price {
  height:30px;
  font-size:20px;
  color:green;
  text-align:right;
}

.promo {
  height:100px;
}

.description {
  clear:both;
  margin-top:10px;
  text-align:justify;
}

.outer-container {
  margin-top:8px;
}

.disabled-button {
  background:rgb(100, 100, 100);
}